.electric-container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #dddddd;

  .electric-content {
    display: flex;
    padding: 20px 15px;
    width: 100%;
    box-sizing: border-box;

    .electric-inner {
      background-color: #fff;
      width: 100%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      overflow: hidden;
      box-sizing: border-box;

      .electric-upper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .service-title {
          margin-top: 10px;
          font-size: 35px;
          font-weight: bold;
          margin-bottom: 10px;
          color: #47546d;
          text-align: left;
        }
      }

      .break {
        width: 100%;
        height: 1px;
        background-color: #d7e0f1;
        margin-bottom: 20px;
      }

      .electric-lower {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 3px;
        .filter-section {
          padding: 20px;
          display: flex;
          column-gap: 3rem;
          align-items: center;
          margin-bottom: 0px;
        }
        .search-btn {
          background-color: #efbe2d;
          color: white;
          padding: 6px 10px;
          border: none;
          border-radius: 4px;
          font-size: 14px;
          cursor: pointer;
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          font-weight: bold;
        }
        .table-wrapper {
          overflow-y: auto;
          flex: 1;
          max-height: 60vh;
        }
        .electric-table {
          width: 100%;
          margin-top: 10px;
          border-collapse: collapse;

          th,
          td {
            border: 1px solid #d3d3d3;
            padding: 12px;
            text-align: center;
            color: #47546d;
          }

          th {
            background-color: #f2f2f2;
            font-weight: bold;
          }
        }
      }
    }
    .gray-btn {
      background-color: #f0f0f0;
      border: 1px solid #dcdcdc;
      border-radius: 6px;
      padding: 6px 10px;
      font-size: 16px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease;
    }

    .gray-btn:hover {
      background-color: #e0e0e0;
    }

    .blue-icon {
      color: #3498db;
    }
  }
}
