.electric-container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #dddddd;

    .electric-content{
        display: flex;
        padding: 30px 15px;
        width: 100%;
        height: max-content;

        .electric-inner{
            background-color: #fff;
            width: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .electric-upper{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .service-title{
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #47546d;
                    text-align: left;
                }

                .search-btn{
                    background-color: #efbe2d;
                    color: white;
                    padding: 8px 16px;
                    border: none;
                    border-radius: 4px;
                    font-size: 14px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    column-gap: 0.5rem;
                    font-weight: bold;

                }
            }

            .break{
                width: 100%;
                height: 1px;
                background-color: #d7e0f1;
            }
            
            .electric-lower{
                display: flex;
                flex-direction: column;
                
            }
            
        }
    }
}